.gamesList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    overflow: auto;
    padding-right: 32px;
    margin-top: 20px;
    padding-bottom: 16px;
}