.search {
    position: relative;
}

.search svg {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}

.searchInput {
    border-radius: 16px;
    background-color: var(--input-bg);
    padding: 12px 14px 12px 40px;
    color: #fff;
    border: none;
}

.searchInput::placeholder {
    color: var(--input-placeholder-color);
}